# Part C: Increate the number of epochs
## Repeat Part B but use 100 epochs this time for training

In [1]:
# download the concrete_data.csv file from url directly
! wget -O concrete_data.csv https://cocl.us/concrete_data

--2024-03-15 16:14:54--  https://cocl.us/concrete_data
Resolving cocl.us (cocl.us)... 2600:140f:5::173f:6dc3, 2600:140f:5::173f:6db8, 23.217.111.73, ...
Connecting to cocl.us (cocl.us)|2600:140f:5::173f:6dc3|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv [following]
--2024-03-15 16:14:55--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 58988 (58K) [text/csv]
Saving to: ‘concrete_data.csv’

concrete_data.csv   100%[===================>]  57.61K  70.1KB/s    in 0.8s

2024-03-15 16:14:58 (70.1 KB/s) - ‘concrete_data.csv’ saved [58988/58988]

## Let's import all necessary modules

In [2]:
import pandas as pd    # for data analysis
from sklearn.model_selection import train_test_split   #for splitting the data into training and testing sets
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import mean_squared_error    # for calculating mean_square error

2024-03-15 16:15:14.403924: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2024-03-15 16:15:14.487741: E tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc:9342] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-03-15 16:15:14.487782: E tensorflow/compiler/xla/stream_executor/cuda/cuda_fft.cc:609] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-03-15 16:15:14.487868: E tensorflow/compiler/xla/stream_executor/cuda/cuda_blas.cc:1518] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-03-15 16:15:14.503852: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2024-03-15 16:15:14.504724: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-03-15 16:15:21.503948: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

## Let's read the data from csv file and analyzing it using pandas

In [3]:
df = pd.read_csv("concrete_data.csv")    # reading the data from csv file

In [4]:
df.shape  # it has 1030 rows and 9 columns

(1030, 9)

### let's read the top 10 rows of the data

In [5]:
df.head(n=10)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
5,266.0,114.0,0.0,228.0,0.0,932.0,670.0,90,47.03
6,380.0,95.0,0.0,228.0,0.0,932.0,594.0,365,43.70
7,380.0,95.0,0.0,228.0,0.0,932.0,594.0,28,36.45
8,266.0,114.0,0.0,228.0,0.0,932.0,670.0,28,45.85
9,475.0,0.0,0.0,228.0,0.0,932.0,594.0,28,39.29

### Statistics summary of the data

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Cement,1030.0,281.167864,104.506364,102.00,192.375,272.900,350.000,540.0
Blast Furnace Slag,1030.0,73.895825,86.279342,0.00,0.000,22.000,142.950,359.4
Fly Ash,1030.0,54.188350,63.997004,0.00,0.000,0.000,118.300,200.1
Water,1030.0,181.567282,21.354219,121.80,164.900,185.000,192.000,247.0
Superplasticizer,1030.0,6.204660,5.973841,0.00,0.000,6.400,10.200,32.2
Coarse Aggregate,1030.0,972.918932,77.753954,801.00,932.000,968.000,1029.400,1145.0
Fine Aggregate,1030.0,773.580485,80.175980,594.00,730.950,779.500,824.000,992.6
Age,1030.0,45.662136,63.169912,1.00,7.000,28.000,56.000,365.0
Strength,1030.0,35.817961,16.705742,2.33,23.710,34.445,46.135,82.6

### Check the null or missing value in the data

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Cement              1030 non-null   float64
 1   Blast Furnace Slag  1030 non-null   float64
 2   Fly Ash             1030 non-null   float64
 3   Water               1030 non-null   float64
 4   Superplasticizer    1030 non-null   float64
 5   Coarse Aggregate    1030 non-null   float64
 6   Fine Aggregate      1030 non-null   float64
 7   Age                 1030 non-null   int64
 8   Strength            1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.6 KB

In [8]:
df.isnull().sum()
# there is no any null or missing values

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

## Prepare the data for features as input and target as output

In [9]:
features = df[df.columns.to_list()[:-1]]
target = df['Strength']

In [10]:
features.shape[1]

8

In [11]:
# Let's Normalize the Data
features_norm = (features-features.mean())/features.std()

## Let's define regression model function
### With one hidden layer of 10 nodes, and a ReLU activation function
### Using the adam optimizer and the mean squared error  as the loss function.

In [12]:
def regression_model():
  model = Sequential()

  model.add(Dense(10, activation='relu', input_shape = (features_norm.shape[1],)))   # one hidden layer with 10 nodes
  model.add(Dense(1))      # one output layer with 1 nodes

  model.compile(optimizer='adam', loss='mean_squared_error')
  return model

## Split the data into training and testing sets using train_test_split from sklearn with 30% testing size

In [13]:
X_train, X_test, y_train, y_test = train_test_split(features_norm, target, test_size = 0.3, random_state=4)

## Training the model on training data X_train and y_train using 100 epochs

In [14]:
# let's call the function
model = regression_model()

In [15]:
# Train the model on training
model.fit(X_train, y_train, epochs = 100, verbose=2)

Epoch 1/100
23/23 - 1s - loss: 1612.4307 - 917ms/epoch - 40ms/step
Epoch 2/100
23/23 - 0s - loss: 1596.9098 - 50ms/epoch - 2ms/step
Epoch 3/100
23/23 - 0s - loss: 1582.2946 - 50ms/epoch - 2ms/step
Epoch 4/100
23/23 - 0s - loss: 1568.3522 - 52ms/epoch - 2ms/step
Epoch 5/100
23/23 - 0s - loss: 1554.5977 - 48ms/epoch - 2ms/step
Epoch 6/100
23/23 - 0s - loss: 1541.1283 - 52ms/epoch - 2ms/step
Epoch 7/100
23/23 - 0s - loss: 1527.5220 - 71ms/epoch - 3ms/step
Epoch 8/100
23/23 - 0s - loss: 1513.2783 - 85ms/epoch - 4ms/step
Epoch 9/100
23/23 - 0s - loss: 1498.4463 - 79ms/epoch - 3ms/step
Epoch 10/100
23/23 - 0s - loss: 1482.7266 - 68ms/epoch - 3ms/step
Epoch 11/100
23/23 - 0s - loss: 1465.8754 - 58ms/epoch - 3ms/step
Epoch 12/100
23/23 - 0s - loss: 1447.9055 - 51ms/epoch - 2ms/step
Epoch 13/100
23/23 - 0s - loss: 1428.4475 - 52ms/epoch - 2ms/step
Epoch 14/100
23/23 - 0s - loss: 1408.0300 - 49ms/epoch - 2ms/step
Epoch 15/100
23/23 - 0s - loss: 1386.2429 - 48ms/epoch - 2ms/step
Epoch 16/100
23/23 - 0s - loss: 1363.5565 - 47ms/epoch - 2ms/step
Epoch 17/100
23/23 - 0s - loss: 1339.2800 - 48ms/epoch - 2ms/step
Epoch 18/100
23/23 - 0s - loss: 1314.3925 - 49ms/epoch - 2ms/step
Epoch 19/100
23/23 - 0s - loss: 1288.2596 - 51ms/epoch - 2ms/step
Epoch 20/100
23/23 - 0s - loss: 1260.9698 - 70ms/epoch - 3ms/step
Epoch 21/100
23/23 - 0s - loss: 1232.7483 - 73ms/epoch - 3ms/step
Epoch 22/100
23/23 - 0s - loss: 1203.8037 - 62ms/epoch - 3ms/step
Epoch 23/100
23/23 - 0s - loss: 1174.4269 - 57ms/epoch - 2ms/step
Epoch 24/100
23/23 - 0s - loss: 1144.0334 - 71ms/epoch - 3ms/step
Epoch 25/100
23/23 - 0s - loss: 1113.6829 - 48ms/epoch - 2ms/step
Epoch 26/100
23/23 - 0s - loss: 1082.4547 - 50ms/epoch - 2ms/step
Epoch 27/100
23/23 - 0s - loss: 1051.1318 - 47ms/epoch - 2ms/step
Epoch 28/100
23/23 - 0s - loss: 1019.3653 - 47ms/epoch - 2ms/step
Epoch 29/100
23/23 - 0s - loss: 987.8505 - 49ms/epoch - 2ms/step
Epoch 30/100
23/23 - 0s - loss: 955.7278 - 47ms/epoch - 2ms/step
Epoch 31/100
23/23 - 0s - loss: 924.2721 - 54ms/epoch - 2ms/step
Epoch 32/100
23/23 - 0s - loss: 893.0359 - 71ms/epoch - 3ms/step
Epoch 33/100
23/23 - 0s - loss: 861.7648 - 92ms/epoch - 4ms/step
Epoch 34/100
23/23 - 0s - loss: 831.0043 - 82ms/epoch - 4ms/step
Epoch 35/100
23/23 - 0s - loss: 800.6343 - 51ms/epoch - 2ms/step
Epoch 36/100
23/23 - 0s - loss: 770.9491 - 49ms/epoch - 2ms/step
Epoch 37/100
23/23 - 0s - loss: 741.4386 - 52ms/epoch - 2ms/step
Epoch 38/100
23/23 - 0s - loss: 713.0449 - 51ms/epoch - 2ms/step
Epoch 39/100
23/23 - 0s - loss: 685.1940 - 49ms/epoch - 2ms/step
Epoch 40/100
23/23 - 0s - loss: 658.1226 - 53ms/epoch - 2ms/step
Epoch 41/100
23/23 - 0s - loss: 631.8732 - 53ms/epoch - 2ms/step
Epoch 42/100
23/23 - 0s - loss: 606.4848 - 52ms/epoch - 2ms/step
Epoch 43/100
23/23 - 0s - loss: 582.0831 - 49ms/epoch - 2ms/step
Epoch 44/100
23/23 - 0s - loss: 558.5422 - 49ms/epoch - 2ms/step
Epoch 45/100
23/23 - 0s - loss: 535.6097 - 48ms/epoch - 2ms/step
Epoch 46/100
23/23 - 0s - loss: 513.9379 - 48ms/epoch - 2ms/step
Epoch 47/100
23/23 - 0s - loss: 493.6191 - 50ms/epoch - 2ms/step
Epoch 48/100
23/23 - 0s - loss: 473.9583 - 56ms/epoch - 2ms/step
Epoch 49/100
23/23 - 0s - loss: 455.3920 - 72ms/epoch - 3ms/step
Epoch 50/100
23/23 - 0s - loss: 437.7426 - 80ms/epoch - 3ms/step
Epoch 51/100
23/23 - 0s - loss: 420.8276 - 85ms/epoch - 4ms/step
Epoch 52/100
23/23 - 0s - loss: 405.2945 - 70ms/epoch - 3ms/step
Epoch 53/100
23/23 - 0s - loss: 390.0812 - 52ms/epoch - 2ms/step
Epoch 54/100
23/23 - 0s - loss: 376.1436 - 50ms/epoch - 2ms/step
Epoch 55/100
23/23 - 0s - loss: 362.8051 - 50ms/epoch - 2ms/step
Epoch 56/100
23/23 - 0s - loss: 350.2251 - 47ms/epoch - 2ms/step
Epoch 57/100
23/23 - 0s - loss: 338.8668 - 52ms/epoch - 2ms/step
Epoch 58/100
23/23 - 0s - loss: 327.7912 - 53ms/epoch - 2ms/step
Epoch 59/100
23/23 - 0s - loss: 317.7773 - 51ms/epoch - 2ms/step
Epoch 60/100
23/23 - 0s - loss: 308.1928 - 51ms/epoch - 2ms/step
Epoch 61/100
23/23 - 0s - loss: 299.4601 - 50ms/epoch - 2ms/step
Epoch 62/100
23/23 - 0s - loss: 291.5336 - 51ms/epoch - 2ms/step
Epoch 63/100
23/23 - 0s - loss: 283.7628 - 94ms/epoch - 4ms/step
Epoch 64/100
23/23 - 0s - loss: 276.8266 - 128ms/epoch - 6ms/step
Epoch 65/100
23/23 - 0s - loss: 270.1187 - 58ms/epoch - 3ms/step
Epoch 66/100
23/23 - 0s - loss: 264.1231 - 52ms/epoch - 2ms/step
Epoch 67/100
23/23 - 0s - loss: 258.2751 - 66ms/epoch - 3ms/step
Epoch 68/100
23/23 - 0s - loss: 253.1045 - 67ms/epoch - 3ms/step
Epoch 69/100
23/23 - 0s - loss: 248.4341 - 70ms/epoch - 3ms/step
Epoch 70/100
23/23 - 0s - loss: 243.7924 - 66ms/epoch - 3ms/step
Epoch 71/100
23/23 - 0s - loss: 239.5558 - 64ms/epoch - 3ms/step
Epoch 72/100
23/23 - 0s - loss: 235.6994 - 54ms/epoch - 2ms/step
Epoch 73/100
23/23 - 0s - loss: 232.1685 - 58ms/epoch - 3ms/step
Epoch 74/100
23/23 - 0s - loss: 228.6250 - 60ms/epoch - 3ms/step
Epoch 75/100
23/23 - 0s - loss: 225.6374 - 54ms/epoch - 2ms/step
Epoch 76/100
23/23 - 0s - loss: 222.6024 - 51ms/epoch - 2ms/step
Epoch 77/100
23/23 - 0s - loss: 219.6898 - 127ms/epoch - 6ms/step
Epoch 78/100
23/23 - 0s - loss: 217.1210 - 92ms/epoch - 4ms/step
Epoch 79/100
23/23 - 0s - loss: 214.4324 - 63ms/epoch - 3ms/step
Epoch 80/100
23/23 - 0s - loss: 211.9429 - 54ms/epoch - 2ms/step
Epoch 81/100
23/23 - 0s - loss: 209.5723 - 61ms/epoch - 3ms/step
Epoch 82/100
23/23 - 0s - loss: 207.3080 - 54ms/epoch - 2ms/step
Epoch 83/100
23/23 - 0s - loss: 204.9883 - 55ms/epoch - 2ms/step
Epoch 84/100
23/23 - 0s - loss: 202.8920 - 70ms/epoch - 3ms/step
Epoch 85/100
23/23 - 0s - loss: 200.7895 - 94ms/epoch - 4ms/step
Epoch 86/100
23/23 - 0s - loss: 198.7332 - 98ms/epoch - 4ms/step
Epoch 87/100
23/23 - 0s - loss: 196.7461 - 94ms/epoch - 4ms/step
Epoch 88/100
23/23 - 0s - loss: 194.8257 - 54ms/epoch - 2ms/step
Epoch 89/100
23/23 - 0s - loss: 192.9549 - 56ms/epoch - 2ms/step
Epoch 90/100
23/23 - 0s - loss: 191.0450 - 55ms/epoch - 2ms/step
Epoch 91/100
23/23 - 0s - loss: 189.2342 - 53ms/epoch - 2ms/step
Epoch 92/100
23/23 - 0s - loss: 187.4189 - 58ms/epoch - 3ms/step
Epoch 93/100
23/23 - 0s - loss: 185.6860 - 54ms/epoch - 2ms/step
Epoch 94/100
23/23 - 0s - loss: 183.8898 - 52ms/epoch - 2ms/step
Epoch 95/100
23/23 - 0s - loss: 182.1474 - 53ms/epoch - 2ms/step
Epoch 96/100
23/23 - 0s - loss: 180.4971 - 55ms/epoch - 2ms/step
Epoch 97/100
23/23 - 0s - loss: 178.8686 - 59ms/epoch - 3ms/step
Epoch 98/100
23/23 - 0s - loss: 177.2921 - 53ms/epoch - 2ms/step
Epoch 99/100
23/23 - 0s - loss: 175.7548 - 55ms/epoch - 2ms/step
Epoch 100/100
23/23 - 0s - loss: 174.2569 - 56ms/epoch - 2ms/step

## Predict the model on testing data X_test

In [16]:
# predict the model on test data
predictions = model.predict(X_test)

10/10 [==============================] - 0s 3ms/step

## Evaluate mean_square error on predicted data and y_test data using scikit learn

In [17]:
mse = mean_squared_error(predictions, y_test)
print(f"The mean squared error is: {mse}")

The mean squared error is: 198.4103184112582

In [ ]:
# list of value of 50 mean_squared error, counted by re running the session after random_state set to 4
mse_value = []
for i in range(0,50):
    model.fit(X_train, y_train, epochs = 100, verbose=2)
    predictions = model.predict(X_test)
    mse = mean_squared_error(predictions, y_test)
    mse_value.append(mse)

In [21]:
# mean and the standard deviation of the mean squared errors
import numpy as np
mean_mse = np.mean(mse_value)
SD_mse = np.std(mse_value)
print(f"The mean and standard deviation of mean square errors after repeating 50 times is {mean_mse} and {SD_mse}")

The mean and standard deviation of mean square errors after repeating 50 times is 38.1097667112202 and 9.528818270991444